*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
}
:root{
    /* Color */
    --primary: #F4D04E;
    --gray-950: #111111;
    --gray-500: #6B6B6B;
    --white: #FFFFFF;

    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 24px;
}

.preset-1{
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-family: "Figtree-ExtraBold", sans-serif;
    font-weight: bolder;    
}

.preset-2{
    font-size: clamp(1rem, 1.4vw, 1.5rem);
    font-family: "FigFigtree-SemiBold", sans-serif;
    color: var(--gray-500);      
}

.preset-3{
    font-size: 1rem;
    font-family: "Figtree-SemiBold", sans-serif;
}

.preset-4{  
    font-size: 1rem;
    font-family: "Figtree-ExtraBold", sans-serif;
    font-weight: bold;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Layout */


.single-card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--primary);
    font-size: x-large;
    position: relative;

}

.card{
    border-radius: 20px;
    padding: var(--spacing-6);
    background-color: var(--white);
    text-align: left;
    max-width: 384px;
    min-width: 327px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--gray-950);
    box-shadow: 8px 8px 0px 0px var(--gray-950);
}

.card_tag{
    background-color: var(--primary);
    padding: var(--spacing-1) var(--spacing-4);
    margin-bottom: var(--spacing-3);
    border-radius: 4px;
}

.card_date{
    margin: var(--spacing-3) 0 ;
}

.card_image{
    background-image: url('./images/image-qr-code.png');
    background-size: contain;
    padding-bottom: var(--spacing-6);
}

.card_image img{
    border-radius: 10px;
}

.card_details{
    margin-left: var(--spacing-1);
    margin-right: var(--spacing-1);
}
.card_title{
    margin-bottom: var(--spacing-3);
}

.card_text{
    margin-bottom: var(--spacing-6);
}

.card_author{
    display: flex;
    align-items: center;
}   
.card_author img{
    width: 3em;
    padding-right: var(--spacing-3);
}

.bkg-pink {
background-color: pink;
}

.absolute-top-left{
    position: absolute;
    top: 0;
    left: 0;
}

.attribution { margin-top: 1vh;font-size: 11px; text-align: center; height: 5vh;}
.attribution a { color: hsl(228, 45%, 44%); }
